#Header {
  border: solid 8px black; 
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
}

#Header h1{
  font-size: 60px;
  font-family: "Passion One";
  color: #FFBC00;
  font-weight: bold;
}

#LeftNav {
  border: solid 8px black; 
  width: 400px;
  float: left;
  text-align: center;
  padding-bottom: 8px;
}

#Content{
  width: 700px;
  border: solid 8px black; 
  text-align: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 34px;
}

#Footer{
  border: solid 8px black; 
  text-align: center;
  list-style-type: none;
}

ul {
  padding-left: 0px;
  list-style-type: none;
  border: solid 1px black;
}

p {
  color: white;
  font-family: "Arial";
  box-shadow: 10px 10px;
}

h3 {
   color: #FFBC00;
  font-size: 40px;
  font-family: "Passion One";
  margin-bottom: 0px;
}

div {
  background-color: #8E41D5; 
}

body {
  background-image: url("dark_wood.png");
}

a {
  color: white;
  font-weight: bold;
  font-size: 24px;
}
